@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.12),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 1.875rem auto;
  width: 28rem;
}

h1 {
  letter-spacing: 0.0625rem;
  margin: 0;
}

h3 {
  border-bottom: 0.0625rem solid #bbb;
  padding-bottom: 0.625rem;
  margin: 2.5rem 0 0.625rem;
}

h4 {
  margin: 0 1.5rem;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 0.0625rem solid #dedede;
}

.inc-single-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 1.25rem;
  display: flex;
  justify-content: space-between;
  margin: 1.25rem 0;
}

.inc-single-container > div {
  flex: 1;
  text-align: center;
}

.money {
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  margin: 0.3125rem 0;
}

.money.plus {
  color: rgb(46, 204, 112);
}

.money.minus {
  color: rgb(191, 58, 43);
}

label {
  display: inline-block;
  margin: 0.625rem 0;
}

input[type="text"],
input[type="number"] {
  border: 0.0625rem solid #dedede;
  border-radius: 0.125rem;
  display: block;
  font-size: 1rem;
  padding: 0.625rem;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: rgb(156, 136, 255);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 1rem;
  margin: 0.625rem 0 1.875rem;
  padding: 0.625rem;
  width: 100%;
}

.btn:hover {
  background-color: rgb(120, 91, 238);
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2.5rem;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  border-right: 0.3125rem solid rgb(238, 138, 138);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.625rem;
  margin: 0.625rem 0;
}

.delete-btn {
  cursor: pointer;
  background-color: rgb(231, 76, 60);
  border: 0;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.25rem;
  padding: 0.125rem 0.3125rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}

@media (min-width: 30rem) {
  .container {
    width: 28rem;
  }
}

@media (min-width: 20rem) and (max-width: 29rem) {
  .container {
    width: 18.75rem;
  }
}
